{% extends 'base.html.twig' %}

{% block title %}Ajout d'une commande{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/order/addOrder.js') }}"></script>
{% endblock %}
{% block body %}
<div class="container">
    <div class="content">
        <div>
            <form method="post" action="{{ path('addOrderSubmit') }}">
                <div class="header">
                    <h1>Ajout d'une commande</h1>
                </div>
                <div class="body">
                    <div class="form">
                        <table>
                            <tr>
                                <td>
                                    <h5>Produit :</h5>
                                    <select name="product[]">
                                        <option value="">Choisir un produit</option>
                                        {% for product in products %}
                                            <option value="{{ product.id }}">{{ product.name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <h5>Quantité :</h5>
                                    <input type="number" name="quantity[]" min="1" max="100">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="addProduct">
                    </div>
                </div>
                <div class="footer">
                    <button type="button" class="btn btn-success" id="addButton">Ajouter un produit</button>
                    <button type="submit" class="btn btn-success">Valider la commande</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}